<% content_for :title, "New chat message" %>

<h1>New chat message</h1>

<%= render "form", chat_message: @chat_message %>

<br>

<div>
  <%= link_to "Back to chat messages", chat_messages_path %>
</div>
