<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Сообщения</h1>

<div class="container">
  <ul class="list-group">
    <%= render partial: 'post', collection: @posts, locals: { html_tag: :li } %>
  </ul>

  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: '&laquo;', next_label: '&raquo;', list_classes: ['pagination', 'justify-content-center'] %>
</div>

<%= link_to "Новое сообщение", new_post_path %>
